body{
	background-color: #7bb0f2;
}

#container{
	background: -webkit-linear-gradient(#f7f7f7 62.58%, #ffffff 100%);
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	
	padding: 15px 10px 10px 50px;
	
	border-radius: 70px 20px;
}

.hidden{
	display: none;
}